@import './../../../styles/mixins.scss';
@import './../../../styles/colors.scss';

.container{
    @include flex(center,center, column);
    min-width: 200px;
    max-width: 20%;
    background-color: $color-light-pink;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;

    @media (max-width: 900px){
        max-width: 50%;
        margin: 10px auto;
    }

    @media (max-width: 600px){
        max-width: 80%;
    }

    .buttonsWrapper{
        width: 100%;
        @include flex(flex-end,center, row);
    }

    .note{
        margin: 10px;
        color: $color-dark-orange;
        font-weight: 600;
    }

    .tagButton{
        background: none;
        border: none;
        color: $color-dark-orange;

        &:hover{
            cursor: pointer;
            color: $color-orange;
        }
    }
}