@import './styles/colors.scss';
@import './styles/mixins.scss';

.wrapper{
 position: relative;
 color: $color-dark-orange;
 
    .container{
        max-width: 1200px;
        margin: 0 auto;

        .notes{
            @include flex(flex-start, center, row);
            gap: 5px;
        }
    }

    .allButton{
        background-color: inherit;
        border-radius: 5px;
        border: 2px $color-orange solid;
        padding: 5px;
        margin: 5px;
        color: $color-orange;
        font-size: 20px;
        font-weight: 500;

        &:hover{
            border: 2px $color-dark-orange solid;
            color: $color-dark-orange;
            cursor: pointer;
        }
    }
    .filter{
        margin: 5px;
    }
}



