@import './styles/colors.scss';
@import './styles/mixins.scss';

.wrapper{
 position: relative;
 color: $color-dark-orange;
 
    .container{
        max-width: 1200px;
        margin: 0 auto;

        .notes{
            @include flex(flex-start, center, row);
            gap: 5px;
        }
    }
}



